
<module>
  <rawname>systemadmin</rawname>
  <name>Systemadmin</name>
  <version>17.0.2</version>
  <publisher>Generated Module</publisher>
  <license>AGPLv3</license>
  <changelog>
    *17.0.2alpha* Fixed error in storage.php and timezone.php
    *17.0.1* Initial release
  </changelog>
  <category>Admin</category>
  <description>OSS SystemAdmin</description>
  <menuitems>
    <systemadmin>Systemadmin</systemadmin>
  </menuitems>
  <supported>17.0</supported>
  <hooks>
    <framework class="Chown" namespace="FreePBX\Console\Command">
      <method callingMethod="fwcChownFiles" class="Systemadmin" namespace="FreePBX\modules">chownFreepbx</method>
    </framework>
  </hooks>
  <depends>
    <file>/usr/local/freepbx</file>
    <version>17.0.1</version>
  </depends>
  <database>
    <table name="systemadmin_settings">
      <field name="key" type="string" length="30"/>
      <field name="value" type="text"/>
      <key name="key" type="unique">
        <column name="key"/>
      </key>
    </table>
    <table name="systemadmin_logs">
      <field name="id" type="integer" unsigned="true" primarykey="true" autoincrement="true"/>
      <field name="username" type="string" length="50"/>
      <field name="module" type="string" length="30"/>
      <field name="timestamp" type="integer" unsigned="true"/>
    </table>
    <table name="systemadmin_packetcapture">
    <field name="id" type="integer" unsigned="true" primarykey="true" autoincrement="true"/>
    <field name="date" type="datetime"/>
    <field name="stopped" type="string" length="3" default="no"/>
  </table>
  </database>
</module>
